<div class="face-snap-card" [ngClass]="{ snapped: snapped }">
    <h2>{{ faceSnap.title | titlecase }}</h2>
    <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
    <p>Mis en ligne {{ faceSnap.createdDate | date: 'à HH:mm, le d MMMM yyyy' }}</p>
    <p>{{ faceSnap.createdDate | date: 'le d MMMM yyyy' }}</p>
    <p>{{ faceSnap.description }}</p>
    <p *ngIf="faceSnap.location">Présent en {{ faceSnap.location | lowercase }}</p>
    <p>
        <button (click)="onBack()">Snaps</button>
        <button (click)="onSnap()">{{ buttonText | uppercase}}</button>
        <span [ngStyle]="{ color: 'rgb(0, ' + (faceSnap.snaps * 100) % 256 + ', 0)' }">{{ faceSnap.snaps }}</span>
    </p>
    <p>{{ faceSnap.snaps | currency: 'EUR' }}</p>
</div>